.dashboard-report {
	margin-right: 10px;
}

.dashboard-report h1,
.dashboard-report h2,
.dashboard-report h3,
.dashboard-report h4,
.dashboard-report h5,
.dashboard-report h6 {
	margin-bottom: 10px;
}
	
.dashboard-report .section {
	border-top: 1px dotted #ccc;
	margin-bottom: 0;	
	padding: 10px;
	font-style: italic;
}

.dashboard-report .row:hover {
	background: #FDFFE3;
}

.dashboard-report .filters {
	margin: 0 0 0 10px;
	padding: 7px;	
}

.dashboard-report .subtle-hint {
	text-align: center;
}